*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: clarkson;
    src: url(./fonts/ClarksonScript-Regular.otf);
}

@import url(https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap);

body {
    font-family: 'Noto Serif', sans-serif;
}

.navbar{
    background-color: #E3E3DC;
    overflow: hidden;
}

.navbar ul{
    text-align: center;
    list-style-type: none;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: #323232;
    font-size: 16px;
    padding: 19px 10px;
}

.navbar a:hover{
    background-color: #A1A19C;
}

a.homeIcon{
    font-family: clarkson;
    font-size: 40px;
}